
<div id="realtime-user-legend" style="width:100%;">
    <div id="legend">
        {% for row in result.data %}
            <div><span  class="{{ row['devices'] }}"></span>{{ row['devices'] }}</div>
        {% endfor %}
    </div>


</div>
