<div class="row">
    <div class="matomo-widget isFirstWidgetInPage col s12 fullWidgetColumn"
         id="widgetDashboardembeddedIndexidDashboard1">
        <div>
            <div class="theWidgetContent">
                <div id="dashboard" piwik-dashboard="" dashboardid="1" class="ng-scope ng-isolate-scope">

                    <div id="dashboardWidgetsArea" class="row">
                        <div class="col s12 m4 ui-sortable">
                            <div class="sortable" widgetid="widgetLivegetSimpleLastVisitCount">
                                <div class="widget" id="widgetLivegetSimpleLastVisitCount">
                                    <div class="widgetTop">

                                        <h3 class="widgetName">
                                            <div class="widgetNameOffScreen">
                                                Widget
                                            </div>
                                            <span>Echtzeit-Besucherzähler</span></h3>
                                    </div>
                                    <div class="widgetContent ng-scope">

                                    </div>
                                </div>
                            </div>
                            <div class="sortable" widgetid="widgetWidgetKLAMBTdevices">
                                <div class="widget" id="widgetWidgetKLAMBTdevices">
                                    <div class="widgetTop">
                                        <div class="buttons">
                                            <div class="button" id="close">
                                                <span class="icon-close" title="Schließen"></span>
                                            </div>
                                            <div class="button" id="maximise">
                                                <span class="icon-fullscreen" title="Vergrößern"></span>
                                            </div>
                                            <div class="button" id="minimise">
                                                <span class="icon-minimise" title="Minimieren"></span>
                                            </div>
                                            <div class="button" id="refresh">
                                                <span class="icon-reload" title="Aktualisieren"></span>
                                            </div>
                                        </div>
                                        <h3 class="widgetName">
                                            <div class="widgetNameOffScreen">
                                                Widget
                                            </div>
                                            <span>Nutzergeräte (5 Min)</span></h3>
                                    </div>
                                    <div class="widgetContent ng-scope">
                                        {% include '@WidgetKLAMBT/DevicesTemplate.twig' with {'result':devices } %}

                                    </div>
                                </div>
                            </div>
                            <div class="sortable" widgetid="widgetWidgetKLAMBTreferer">
                                <div class="widget" id="widgetWidgetKLAMBTreferer">
                                    <div class="widgetTop">
                                        <h3 class="widgetName">
                                            <div class="widgetNameOffScreen">
                                                Widget
                                            </div>
                                            <span>Häufigste Verweise (30 Min)</span></h3>
                                    </div>
                                    <div class="widgetContent ng-scope">
                                        {% include '@WidgetKLAMBT/RefererTemplate.twig' with {'rows':referer } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m8 ui-sortable">
                            <div class="sortable" widgetid="widgetWidgetKLAMBTpageViews">
                                <div class="widget" id="widgetWidgetKLAMBTpageViews">
                                    <div class="widgetTop">
                                        <div class="buttons">
                                            <div class="button" id="close">
                                                <span class="icon-close" title="Schließen"></span>
                                            </div>
                                            <div class="button" id="maximise">
                                                <span class="icon-fullscreen" title="Vergrößern"></span>
                                            </div>
                                            <div class="button" id="minimise">
                                                <span class="icon-minimise" title="Minimieren"></span>
                                            </div>
                                            <div class="button" id="refresh">
                                                <span class="icon-reload" title="Aktualisieren"></span>
                                            </div>
                                        </div>
                                        <h3 class="widgetName">
                                            <div class="widgetNameOffScreen">
                                                Widget
                                            </div>
                                            <span>Seitenaufrufe (30 Min)</span></h3>
                                    </div>
                                    <div class="widgetContent ng-scope">
                                        <div class="chartjs-size-monitor">
                                            <div class="chartjs-size-monitor-expand">
                                                <div class=""></div>
                                            </div>
                                            <div class="chartjs-size-monitor-shrink">
                                                <div class=""></div>
                                            </div>
                                        </div>
                                        {% include '@WidgetKLAMBT/PageviewsTemplate.twig' with {'xValues':pageViews.xValues,'yValues':pageViews.yValues } %}
                                    </div>
                                </div>
                            </div>
                            <div class="sortable" widgetid="widgetWidgetKLAMBTpagesGreatestActivity">
                                <div class="widget" id="widgetWidgetKLAMBTpagesGreatestActivity">
                                    <div class="widgetTop">
                                        <h3 class="widgetName">
                                            <div class="widgetNameOffScreen">
                                                Widget
                                            </div>
                                            <span>Seiten mit größter Aktivität (30 Min)</span></h3>
                                    </div>
                                    <div class="widgetContent ng-scope">
                                        {% include '@WidgetKLAMBT/PGATemplate.twig' with {'rows':PGA.result,'sum':PGA.sum } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menuClear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>