<div class="widgetContent" id="devices-widget">

</div>

<script>
    var url="index.php?module=WidgetKLAMBT&action=devices&idSite=4";
    $.get(url).success(function(data){
        console.log(data);
        $('#devices-widget').html(data);
    });
</script>