 <table cellspacing="0" class="dataTable">
  <thead>
  <tr><th>Full URL</th><th>Relative URL</th><th>Visits</th></tr>
  </thead>
  <tbody> 
  {% for row in rows %}
   <tr>
    <td>{{ row['full_url'] }}</td>
    <td>{{ row['relative_url'] }}</td>
    <td>{{ row['visits'] }}</td>
   </tr>
{% endfor %}
  </tbody> 
  </table>

