<div action="" class="dropdown-button dataTableAction searchAction searchActive forceActionVisible">
    <span class="icon-search"></span>
    <input id="" type="text" class="dataTableSearchInput" value="">
</div>
<div id="data-widget">

</div>
<script>
    getData();
    function getData() {
        $.get('index.php?module=WidgetKLAMBT&action=pageImpressionsByDateChild&idSite={{ idSite }}&period={{ period }}&date={{ date }}').success(function (data) {
            $('#data-widget').html(data);
        });
};
</script>