<div class="dropdown-button dataTableAction searchAction searchActive forceActionVisible" style="margin: 0 auto; display: table;">
    <div style="width: 600px;display: inline-block;">
        <span class="icon-search"></span>
        <input id="keyword" type="text" class="dataTableSearchInput" placeholder="value...">
    </div>
    <input type="button" value="Suchen"  class="btn" onclick="getData()">
</div>
<div id="data-widget">
</div>
<script>
    getData();
    function getData() {
        $('#data-widget').html('<img src="plugins/Morpheus/images/loading-blue.gif"/> Lade Daten ...');
        var keyword = $('#keyword').val();
        $.get('index.php?module=WidgetKLAMBT&action=pageImpressionsByDateChild&idSite={{ idSite }}&period={{ period }}&date={{ date }}&keyword=' + keyword).success(function (data) {
            $('#data-widget').html(data);
        });
    };
</script>